.bot-card {
  width: 252px;
  height: 363px;
  border-radius: 19px;
  background: linear-gradient(180deg, rgba(242, 242, 242, 0.8) 0%, rgba(255, 255, 255, 0.8) 181.74%);
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.bot-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bot-card-header img {
  width: 252px;
  height: 183px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  object-position: center;
}

.bot-card-body {
  flex-grow: .6;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
}

.bot-card-header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bot-card-name {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
}

.bot-card-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
  color: #565656;
  max-height: 60px; /* Set a maximum height for the description */
  overflow-y: auto; /* Scroll if the description is too long */
  margin-bottom: 0px;
}

.bot-buttons-area {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.bot-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.share-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.share-button img {
  width: 17px;
  height: 17px;
}
