.bot-card {
  width: 329px;
  height: 420px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid #F0F0F0;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.bot-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bot-card-header img {
  width: 329px;
  height: 185px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  object-position: center;
}

.bot-card-body {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.bot-card-header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bot-card-name {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
}

.bot-card-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
  max-height: 60px; /* Set a maximum height for the description */
  overflow-y: auto; /* Scroll if the description is too long */
  margin-bottom: 10px;
}

.bot-buttons-area {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px 20px 20px;
  border-top: 1px solid #F0F0F0;
  flex-shrink: 0; /* Prevent buttons from shrinking */
  background-color: white; /* Ensure it stays visible */
}

.bot-button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.share-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.share-button img {
  width: 17px;
  height: 17px;
}
