.primary-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 13px 28px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 14px;
  }
  
  .primary-button.enabled {
    border: 1px solid #045CE2;
    border-radius: 40px;
    width: 220px;
    height: 54px;
  }
  
  .primary-button.disabled {
    background-color: grey;
    border-radius: 40px;
    width: 220px;
    height: 54px;
  }
  