.persona-wrapper {
  display: flex;
  flex-direction: column; /* Allows stacking the error message on top */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.top-error {
  width: 70%;
  background-color: #ffebee;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 0.875em;
  text-align: center;
}

.persona-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%; /* Igual que .face-container */
}

.persona-left-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Igual que .face-left-container */
  gap: 20px;
  justify-content: space-evenly;
  align-content: start;
  width: 50%; /* Igual que .face-left-container */
  max-height: 540px; /* Ajustado a la altura de .face-left-container */
  padding: 30px; /* Igual que .face-left-container */
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.persona-right-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%; /* Igual que .face-right-container */
  height: 100%;
  padding: 0 0 0 50px;
}

.persona-preview-container {
  width: 219px; /* Ajustado igual que .selected-face-image */
  height: 253px; /* Ajustado igual que .selected-face-image */
  border-radius: 19px; /* Igual que .face-preview-container */
  border: 2px solid #F0F0F0; /* Borde consistente con .face-preview-container */
}

.selected-persona-image {
  width: 100%;
  height: 100%; /* Para ajustarse al contenedor .persona-preview-container */
  object-fit: cover;
  border-radius: 19px; /* Igual que .selected-face-image */
}

.selected-persona-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-align: start;
  font-weight: 500;
  width: 100%;
}

.selected-persona-description{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.persona-option-container {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.persona-option-container {
  height: 150px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.persona-option-container:hover {
  background-color: #f5f5f5;
}

.persona-option-container.selected {
  border-color: #1976d2;
  background-color: #e3f2fd;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
