.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }
  
  .addButton {
    display: flex;
    align-items: center;
    background-color: #045CE2;
    color: white;
    box-shadow: 0px 0px 18.6px 0px #045CE266;
    padding: 10px 20px;
    border: 1px solid #045CE2;
    border-radius: 40px;
    width: 220px;
    height: 54px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .addButtonIcon {
    margin-right: 10px;
    font-size: 24px;
  }