.botsGridWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.botsListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 60px;
  justify-items: center;
  align-items: start;
}
