.secondary-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 13px 28px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 14px;
  width: 220px;
  height: 54px;
}

.secondary-button.enabled {
  background-color: #F0F0F0;
  color: #333;
  border-radius: 40px; 
  border: 0px;
}

.secondary-button.disabled {
  background-color: #D3D3D3;
  color: grey;
  border-radius: 40px;
  cursor: not-allowed;
}
