.wizard-title {
    padding: 60px 0 0 70px;
  }
  
  .wizard-title-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .wizard-title span {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 10px;
  }

  .wizard-sub-title{
    text-align: flex-start;
  }

  .wizard-sub-title span{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000; /* Corrected color to be black */
    margin-bottom: 10px; /* Add some space between text and image */
  }
  

  .progress-container {
    display: flex;
    justify-content:start;
    align-items: center;
    margin: 0 0 30px 0;
  }
  
  .progress-item {
    display: flex;
    align-items: center;
  }
  
  .dot-wrapper {
    padding: 4px;
    border: 2px solid #B8B8B8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
  }

  .dot-wrapper.active {
    border: 2px solid #007bff;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B8B8B8;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #007bff;
  }
  
  .line {
    width: 21px;
    height: 1px;
    background-color: #B8B8B8;
    transition: background-color 0.3s ease;
  }
  
  .line.active-line {
    background-color: #007bff;
  }
  