.details-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 70px;
}

.download-icon {
  width: 60px;
}

.browse-link {
  color: #045CE2;
  text-decoration: none;
  cursor: pointer;
}

.browse-link:hover {
  color: #003e9b;
}

.error-message {
  color: #d32f2f;
  background-color: #ffebee;
  border: 1px solid #d32f2f;
  border-radius: 4px;
  padding: 8px;
  margin-top: 10px;
  font-size: 0.875em;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.file-list {
  width: 100%;
  max-width: 810px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 230px;
  overflow-y: scroll;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  margin-bottom: 40px;
}

.file-list::-webkit-scrollbar {
  width: 8px;
}

.file-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.file-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra de desplazamiento */
  border-radius: 10px;
}

.file-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra de desplazamiento cuando se pasa el cursor */
}

/* Evita que el botón de eliminación interfiera con la scrollbar */
.file-item {
  padding-right: 20px; /* Añadir espacio adicional en el lado derecho */
}


.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff00;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.file-icon {
  width: 22px;
  padding-right: 10px;
}

.file-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.file-name {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 4px;
}

.spinner-bar-container {
  width: 100%;
  background-color: #EEF5FF;
  border-radius: 5px;
  overflow: hidden;
  height: 6px;
  position: relative;
  margin-bottom: 4px;
}

.spinner-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  position: absolute;
}

.spinner-bar-done {
  width: 100%;
  background-color: #00e676;
}

@keyframes loading {
  0% {
    width: 0;
    left: -30%;
  }
  50% {
    width: 50%;
    left: 30%;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

.remove-file-button {
  background-color: transparent;
  color: #f44336;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.file-status {
  justify-content: flex-end;
  display: flex;
  font-size: 12px;
  color: gray;
}

.remove-file-button:disabled {
  color: gray;
  cursor: not-allowed;
}
